<% if user_signed_in? %>
  <%= link_to 'Create Task', new_user_task_path(user_id: current_user) %>
<% end %>

<% @tasks.each do |task| %>
  <p>
    <%= task.name %> : <%= task.public %><br />
    <% if policy(task).owner? %>
      <%= link_to 'Edit', edit_user_task_path(user_id: current_user, id: task) %>
      <%= link_to 'Destroy', user_task_path(user_id: current_user, id: task), method: :delete %>
    <% end %>
  </p>
<% end %>
